<!doctype html>
<html>
    <%if (user.role === "admin") { %>
        <% include ../partials/sidebar %>
    <% } %>
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">

                    <!-- show message when creating transaction -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-success"><%= message %></div>
                <% } %>

                <h3><span class="fa fa-shopping-cart"></span> Order Summary for <%= etf.name %></h3>

                    <p>
                        <strong>RIC</strong>: <%= etf.ric %><br>
                        <strong>Name</strong>: <%= etf.name %><br>
                        <strong>Provider</strong>: <%= etf.provider %><br>
                        <strong>Transaction Currency</strong>: <%= etf.currency %><br>
                        <strong>Creation or Redemption</strong>: <%= trans.create_or_redeem %><br>
                        <strong>Quantity</strong>: <%= trans.quantity %><br>
                        <strong>Transaction ID</strong>: <%= trans._id %><br>

                    </p>

                    <form action="/orders/delete/<%=trans._id%>" method="post">
                    <button type="submit" class="btn btn-warning btn-lg">Delete Order</button>
                    </form>

            </div>
        </div>

    </div>

</div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>