<!doctype html>
<html>
    <%if (user.role === "admin") { %>
        <% include ../partials/sidebar %>
    <% } %>
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">
    
    <div class="row">
        <h3 id="orderheader">Place an order on <%= etf.name %></h3>
                <% if (message.length > 0) { %>
                    <div class="alert alert-success"><%= message %></div>
                <% } %>
        <!-- LOCAL INFORMATION -->
        
        <form action="/orders/<%=etf._id%>" method="post">
        <div class="col-sm-6">
            <h3>ETF Detail</h3>
            <div class="well">

                    <!-- show message when creating transaction -->

                    <p>
                        <strong>RIC</strong>: <%= etf.ric %><br>
                        <strong>Name</strong>: <%= etf.name %><br>
                        <strong>Provider</strong>: <%= etf.provider %><br>
                        <strong>Transaction Currency</strong>: <%= etf.currency %><br>
                    </p>
                    
                        <div class="form-group">
                            <label>Creation or Redemption?</label>
                              <select name="CreateRedeem">
                                <option value="Create">Creation</option>
                                <option value="Redeem">Redemption</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label>Order Type?</label>
                              <select name="OrderType" class="OrderType">
                                <option value="Cash">Select</option>
                                <option value="Cash">Cash</option>
                                <option value="Switch">Switch</option>
                                <option value="Specie">In Specie</option>
                                <option value="Bespoke">Bespoke</option>
                                <option value="Directed">Directed Cash</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" lang="en-150" class="form-control" name="quantity">
                        </div>


                    <button type="submit" class="btn btn-warning btn-lg">Submit Order</button>
                    

            </div>
        </div>

        <div class="col-sm-6">
            <h3>Follow Up Options</h3>
            <div class="well FollowUpOptions">
                <div class="form-group">

                </div>
            </div>
            <h3>Settlement Options</h3>
            <div class="well">
                <div>
                    <label>Trade Date </label>
                    <input type="date" name="tdate" id="tradedate">
                </div>
                <div>
                    <label>Settlement Date </label>
                    <input type="date" name="sdate" id="setdate">
                </div>
                <div class="form-group">
                    <label>Settlement Location</label>
                      <select name="SetLocation">
                        <option value="Euroclear">Euroclear</option>
                        <option value="Clearstream">Clearstream</option>
                        <option value="FrenchDom">French Domestic</option>
                      </select>
                </div>
            </div>
        </div>
        </form>

    </div>

</div>


<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
        $(document).ready(function() {

            Date.prototype.toDateInputValue = (function(){
                var local = new Date(this);
                local.setMinutes(this.getMinutes()-this.getTimezoneOffset());
                return local.toJSON().slice(0,10);
            });

            Date.prototype.addtwodays = (function(){
                var local = new Date(this);
                local.setDate(this.getDate()+2);
                return local.toJSON().slice(0,10);
            });
            $('#tradedate').val(new Date().toDateInputValue());
            $('#setdate').val(new Date().addtwodays());


            $ ('.OrderType').change(function(){
                $(".OrderType option:selected").each(function(){
                    if($(this).text()=="Switch"){
                        
                        var replacestr =    `<div class="well FollowUpOptions">
                                                <h4>ETF Switch Options</h4>
                                                <div class="form-group">
                                                <label>Switch ETF</label>
                                                  <select name="Switch">`


                        replacestr = replacestr + `</select>
                                                </div>
                                            </div>` ;

                        $("div.well.FollowUpOptions").replaceWith(replacestr);
                    }
                    else if($(this).text()=="Cash"){

                        var replacestr =    `<div class="well FollowUpOptions">
                                                <h4>Cash Options</h4>
                                                <div class="form-group">
                                                <label>Select Currency</label>
                                                  <select name="Switch">
                                                    <option value="EUR">EUR</option>
                                                    <option value="USD">USD</option>
                                                    <option value="GBP">GBP</option>
                                                    <option value="CHF">CHF</option>
                                                  </select>
                                                </div>
                                            </div>` ;

                        $("div.well.FollowUpOptions").replaceWith(replacestr);

                    }
                    else if($(this).text()=="Directed Cash"){

                       var replacestr =    `<div class="well FollowUpOptions">
                                                <h4>Directed Cash Options</h4>
                                                <div class="form-group">
                                                <label>Broker</label>
                                                  <select name="Switch">
                                                    <option value="Barc">Barclays</option>
                                                    <option value="Jpm">JP Morgan</option>
                                                    <option value="GS">Goldman Sachs</option>
                                                    <option value="MS">Morgan Stanley</option>
                                                  </select>
                                                </div>
                                            </div>` ;

                        $("div.well.FollowUpOptions").replaceWith(replacestr);
                    }
                    else if($(this).text()=="Bespoke"){

                       var replacestr =    `<div class="well FollowUpOptions">
                                                <h4>Bespoke Options</h4>
                                                <div class="form-group">
                                                <label>Bespoke Order Request</label>
                                                <textarea name="Address" rows=3 cols=30></textarea>
                                                </div>
                                            </div>` ;

                        $("div.well.FollowUpOptions").replaceWith(replacestr);
                    }
                    else{
                       var replacestr =    `<div class="well FollowUpOptions">
                                            </div>` ;

                        $("div.well.FollowUpOptions").replaceWith(replacestr);
                    }
                })
                    
            })
        });

</script>

</body>
</html>