<!doctype html>
<html>
    <%if (user.role === "admin") { %>
        <% include ../partials/sidebar %>
    <% } %>
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">


    <div class="row">

        <!-- LOCAL INFORMATION -->
    <h3><span class="fa fa-user"></span> Product Catalogue</h3>
        <div id="example-table"></div>
        <table id="productlist">
            <thead>
                 <tr>
                    <th>Ric</th>
                    <th>Issuer</th>
                    <th>Name</th>
                    <th>Ticker</th>
                    <th>Min Creation Size</th>
                    <th>Creation Cost</th>
                    <th>Redemption Cost</th>
                    <th>Cut Off Time</th>
                 </tr>
             </thead>
            <tbody>
                <% etf_list.forEach(function(etf) { %>
                <tr id="row-style">
                    <td><a href="/products/<%=etf._id%>"><%= etf.ric %></a></td>
                    <td><%= etf.issuer %></td>
                    <td><%= etf.name %></td>
                    <td> <%= etf.ticker %></td>
                    <td><%= etf.minsize %></td>
                    <td><%= etf.creation_cost %></td>
                    <td><%= etf.redemption_cost %></td>
                    <td><%= etf.cut_off_time %></td>

                </tr>
                <% }); %>
            </tbody>
        </table>

</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script>
    

    
    $(document).ready(function() {

    $ ('#productlist').DataTable();
    //$('#example-table').tabulator();
    /*
    $("#productlist").tabulator({
        columns:[
            {title:"Issuer", field:"Issuer", visible:false, sorter:"string", width:200, editor:true},
            {title:"Name", field:"Name", sorter:"string", align:"right", formatter:"progress"},
            {title:"Ric", field:"Ric", sorter:"string"},
            {title:"Ticker", field:"Ticker", formatter:"string", align:"center", width:100},
            {title:"Min Size", field:"col", sorter:"number"},
            {title:"Creation Cost", field:"dob", sorter:"number", align:"center"},
            {title:"Redemption Cost", field:"cheese", sorter:"number", align:"center", formatter:"tickCross"},
            {title:"Cut Off Time", field:"dob", sorter:"date", align:"center"},
            ],
        });
    */
    });
</script>
</html>