<!doctype html>
<html>
    <%if (user.role === "admin") { %>
        <% include ../partials/sidebar %>
    <% } %>
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">


    <div class="row">

        <!-- LOCAL INFORMATION -->
    <h3><span class="fa fa-book"></span> Product Catalogue</h3>

        <table id="productlist">
            <thead>
                 <tr>
                    <th>Ticker</th>
                    <th>Issuer</th>
                    <th>Name</th>
                    <th>Min Size (EUR)</th>
                    <th>Base CCY</th>
                    <th>Create</th>
                    <th>Redeem</th>
                    <th>Axe</th>
                    <th>Cut Off</th>
                 </tr>
             </thead>
            <tbody>
                <% etf_list.forEach(function(etf) { %>
                <tr id="row-style" >
                    <td><a href="/products/<%=etf._id%>"><%= etf.ticker %></a></td>
                    <td><%= etf.provider %></td>
                    <td><%= etf.name %></td>
                    <td><%= etf.minsize %></td>
                    <td><%= etf.currency %></td>
                    <td><%= etf.axedcreator %></td>
                    <td><%= etf.redemption_cost %></td>
                    <td><%= etf.axedcheck %></td>
                    <td><%= etf.cutoff %></td>

                </tr>
                <% }); %>
            </tbody>
        </table>

    </div>

</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script>
    

    
    $(document).ready(function() {

        $ ('#productlist').DataTable({
            "pageLength": 50,
            "createdRow": function(row, data, index){
                
                if(data[7]=="true"){
                    $('td', row).eq(5).addClass('highlight');
                }
            },
            "columnDefs": [ {
                "targets": 3,
                "render": $.fn.dataTable.render.number(',', '.', 0, '')               
                },{
                 "targets": 6,
                "render": $.fn.dataTable.render.number(',', '.', 1, '')                   
                }  ]
        });


    });
</script>
</html>